doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/') Movie Store
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
            
        .collapse.navbar-collapse(id='navbarSupportedContent')
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/list') List
                li.nav-item
                    a.nav-link(href='/about') About
                li.nav-item
                    a.nav-link(href='/display') Display    
                    
    block content
    
    footer
        .row
        .col-12
        large &copy; Assignment 1 Miki Patel-8622608
    
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
           
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')